{% extends "base.html" %}
{% block title %}Sign Up Page{% endblock title %}
{% block content %}

<form action="" method="POST" >
    {{ form.hidden_tag() }}
    <br>
    <!-- Username -->
    <div>
        {{ form.umername.label }}
        {{ form.umername(class="form-control") }}
    </div>
    <br>
    
    <!-- Email -->
    <div>
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>
    <br>
    
    <!-- Gender -->
    <div>
        {{ form.gender.label }}
        {{ form.gender(class="form-select") }}
    </div>
    <br>
    <div>
        {{ form.dob.label }}
        {{ form.dob(class="form-control") }}
    </div>
    <br>
    <!-- Password -->
    <div>
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <br>
    
    <!-- Confirm Password -->
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    <br>
    
    <!-- Submit -->
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
    <br>
    
    <!-- Login Link -->
    <div>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </div>
</form>

{% endblock content %}
